* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
}

.left-side {
  width: 15%;
  height: 100%;
  background-color: #0B3366;
}

.right-side {
  width: 85%;
  height: 100%;
  background-color: #e7e1e1;
}

.left-heading h3 {
  cursor: pointer;
  color: #FFFFFF;
}

.content h5 {
  cursor: pointer;
  color: #FFFFFF;
  font-weight: 200;
}

.blue {
  padding: 20px;
  display: grid;
  margin: 7px;
  gap: 39px;
}

.image-name{
  display: flex;
  gap: 2px;
}

.content {
  display: contents;
  text-align: center;
}

.right-heading {
  height: 8%;
  background-color: #FAFAFA;
}

.calender-section {
  height: 92%;
}

.calender-content {
  height: 100%;
  display: flex;
  padding: 20px;
  gap: 20px;
}


.full-calender-section {
  width: 70%;
}

.full-calender-content {
  height: 100%;
}

.full-calender {
  background-color: white;
  height: 84%;
}

.smaller-calender-section {
  width: 30%;
}

.button-section {
  padding: 0px 10px 0px 0px;
  display: flex;
  height: 16%;
  justify-content: space-between;
}

.button-section button {
  width: 78px;
  height: 38px;
  background-color: #FFFFFF;
  border: none;

}

.button-section1{
  display: flex;
  gap: 3px;
}
.right-heading img{
  padding: 7px;
}

.button-section2{
  display: flex;
  gap: 3px;
}

.right-button-section{
  display: grid;
  gap: 50px;
}

.right-button-section button{
  height: 38px;
  width: 100px;
  background-color: #FFFFFF;
  border: none;
}

.right-button-section1{
  display: flex;
  gap: 10px;
}

.row2 label{
  padding: 8px;
}

.right-button-section2 {
  display: flex;
}

.right-button-section2 label{
  padding: 5px;
}

.date input{
  width: 97px;
}